<% if user_signed_in? and current_user == kit.user %>
	<div id="kit-control">

		<%= link_to 'Destroy', kit, confirm: 'Are you sure?', method: :delete %>
	</div>
<% end %>

<div class="item-box kit-item">
	<div class="item-left">
	
	</div>
	<div class="item-content">
		<div class="item-content-top">
			<h2>
				<%= link_to kit.user.email, kit.user %>
			</h2>

		</div>
		
		<p><%= auto_link(kit.content.gsub(/\n/, "<br />").html_safe) %></p>
		<div class="clear"></div>
	</div>		
</div>
