<%= simple_form_for @user, :html => { :class => 'form-horizontal',:multipart => true  } do |f| %>
  

	<%= f.input :avatar %>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                flags_path, :class => 'btn' %>
  </div>
<% end %>
