
<div class = "episode">
	<div class = "shot"><%= profile_photo(user, :thumb, 50) %></div>
	<div class = "main">
		<div class ="name"> <%= link_to user.nickname, user_path(user) %>
			
		</div> 
		<div>	<% if user.info_consent and !user.introduce.blank? %><%= user.introduce %> / <% end %>Flag (<%= user.participations.length + user.flags.length %>) 
			</div>
	
	</div>
</div>
