


<table class="table table-striped">
  <thead>
    <tr>
      <th>이름</th>

    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>     
			<tr>
        <td><%= link_to user.email, user_path(user) %></td>

      </tr>
		<% end %>
  </tbody>
</table>