<table class="table table-striped">
  <thead>
    <tr>
			<th></th>
			<th></th>
    </tr>
  </thead>
  <tbody>
    
			<tr>
				<td><%= @user.email %></td>   
				<td><%= image_tag @user.avatar.url(:small) %></td>
      </tr>
		
  </tbody>
</table>

