<% provide(:title, "등산모임") %>
<div class = "name"> 장기원정 </div>
<div class="hiking_displays">
	<%= render @expedition %>
</div>
<%= paginate @expedition %>


<%= link_to '새로만들기',
            new_hiking_path,
            :class => 'btn btn-primary' %>
