<% provide(:title, "등산모임") %>

<div class="hiking_displays">
	<%= render @hikings %>
</div>
<%= paginate @hikings %>


<%= link_to '새로만들기',
            new_hiking_path,
            :class => 'btn btn-primary' %>
