<% provide(:title, "등산모임") %>

<div class="displays">
	<%= render @hikings %>
</div>
<%= paginate @hikings %>


<%= link_to t('.new', :default => t("helpers.links.new")),
            new_hiking_path,
            :class => 'btn btn-primary' %>
