<% provide(:title, "등산모임") %>
<div class = "name"> 주말(1일) </div>
<div class="hiking_displays">
	<%= render @weekend %>
</div>
<%= paginate @weekend %>


<%= link_to '새로만들기',
            new_hiking_path,
            :class => 'btn btn-primary' %>
