@import "mixin";

.name {
  color: #c09853;
  font-size: 20px;
 	margin: 3px 3px 10px 0;
	
}
.hikingname {
  color: #c09853;
	font-weight: bold;
  font-size: 20px;
 	margin: 3px 3px 3px 0;
}

.user_name {
  color: #555;
  font-size: 20px;
 	margin: 3px 3px 10px 0;

}

.center {
	margin-left:auto;
	margin-right:auto;
	width:70%;
}

#participation_note {

	height: 100px;
}

#flagsuccess, #flagsuccessform {
	
	background:  #f3edd2;
	padding : 7px 0px 0px 26px;
	
}

#hikingparticipants {
	background: #d9edf7;
	padding : 14px 0px 0px 0px
}

#firstplayer, #flagplayer{
	margin: 3px 3px 10px 0;
	background: #eee;
	
	.flag-image{
		@include rounded-corners(6px);
		margin: 0 7px 13px 0;
	
	}
}

#flag_description {
	font-size: 20px;
	line-height: 23px;
}


#commentform {
	background: #dff0d8;
	height: 60px;
	padding-top : 0px;
}


.timestamp {
  color: #62c462;
}

ul.display-inline-block li {

	display: inline-block;
	

}
#kit-delete {
	float: right;
	padding : 5px 0px 0px 0px;
	margin : 0px 26px 0px 0px;
}
#comment-delete {
	float: right;
	padding : 5px 0px 0px 0px;
	margin : 0px 26px 0px 0px;
}


ul.display-inline-block{
	.flag-image {
		margin: 0 0 13px 0;
		@include rounded-corners(6px);

	}
	.kit-image {
		margin: 0 7px 7px 0;
		@include rounded-corners(6px);
	}
	.img-round{
		@include rounded-corners(6px);
	}
	

}
#comment-display {
	margin-left: 70px;
}


.displays {
	display: block;
}

.displays .episode {
	padding-bottom: 9px;
	border-bottom: solid 1px #E5E5E5;
	margin-bottom: 8px;

}

.displays .shot {
	float: left;
	margin-right: 10px;
	@include rounded-corners(6px);
}


.displays .main {
	margin-left: 155px;
	height: 150px;
}

.displays .mobile_main {
	margin-left: 40px;
	height: 150px;
}

.displays .info {
	color: #999;
	font-size: 12px;
	margin-bottom: 5px;
}

.displays .name {
  font-size: 22px;
	font-weight: bold;
	margin-bottom: 7px;

	a:visited {
		color: #c09853;
	}
	a:hover {
		background :#FFFFFF; 
		color: #d2b48c;
	}
}

.displays .description {
	margin-bottom: 13px;
	font-size: 16px;

}

/* hiking -index */
.hiking_displays {
	display: block;
}

.hiking_displays .episode {
	padding-bottom: 9px;
	border-bottom: solid 1px #E5E5E5;
	margin-bottom: 8px;

}

.hiking_displays .shot {
	float: left;
	margin-right: 10px;
	@include rounded-corners(6px);
}

.hiking_displays .main {
	margin-left: 155px;
	height: 150px;
}
.hiking_displays .mobile_main {
	margin-left: 100px;
	height: 150px;
}

.hiking_displays .info {
	color: #999;
	font-size: 12px;
	margin-bottom: 5px;
}


.hiking_displays .description {
	margin-bottom: 17px;
	font-size: 16px;
}


/* user -index */

.user_displays {
	display: block;
}

.user_displays .episode {
padding-bottom: 15px;
border-bottom: solid 1px #E5E5E5;
margin-bottom: 20px;

}

.user_displays .shot {
	float: left;
	margin-right: 10px;
	@include rounded-corners(6px);
}

.user_displays .main {
	margin-left: 75px;
}


.user_displays .info {
	color: #999;
	font-size: 12px;
	margin-bottom: 10px;
}

.user_displays .name {

  font-size: 15px;
 	margin: 3px 0;
	font-weight: bold;
	
	a:visited {
		color: #555;
	}
	a:hover {
		background :#FFFFFF; 
		color: #c09853;
	}
}

.user_displays .description {
	margin-bottom: 17px;
	font-size: 16px;
	
}


/* search */

#search {
	@include rounded-corners(6px);
}

.picture-round{
	@include rounded-corners(6px);

}


#kit-item {
	padding : 11px 0px 0px 10px;
}


/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #999;
}


footer small {
  float: left;
}

footer ul {
  float: right;
  list-style: none;
}

footer ul li {
  float: left;
  margin-left: 10px;
}


#user_show_profile
{
	background:  #FFF3CF;
}


#flag_form, #hiking_form {
	background:  #FFF3CF;
	.form-actions {
		background:  #FFF3CF;
	}
}


