@import "mixin";

.name {
  color: #62c462;
  font-size: 20px;
 	margin: 3px 3px 3px 0;
}

.center {
	margin-left:auto;
	margin-right:auto;
	width:70%;
}

#participation_note {
	width: 650px;
	height: 100px;
}

#flagsuccess, #flagsuccessform {

	background:  #f3edd2;
}

#hikingparticipants {
	background: #d9edf7;
}

#firstplayer, #flagplayer{

	background: none;
}


#kit_content {
	width: 800px;
	height: 50px;
}

#commentform {
	background: #dff0d8;
	width: 700px;
	height: 60px;
}

.comment-textarea {
	width: 500px;
}




.timestamp {
  color: #62c462;
}

ul.display-inline-block li {

	display: inline-block;

}
#kit-delete, #comment-delete {
	float: right;
}

.flag-image {
	margin: 0 3px 3px 0;
}


.flags {
	display: block;
}

.flags .episode {
padding-bottom: 110px;
border-bottom: solid 1px #E5E5E5;
margin-bottom: 20px;

}

.flags .flagshot {
	float: left;
	margin-right: 30px;
}

.flags .main {
	margin-left: 215px;
}


.flags .info {
	color: #999;
	font-size: 12px;
	margin-bottom: 10px;
}

.flags .flagname {
	color: #62c462;
  font-size: 30px;
 	margin: 3px 0;
	font-weight: bold;
	margin-bottom: 20px;
	a:visited {
		color: #62c462;
	}
	a:hover {
		background :#FFFFFF; 
		color: #62c462
	}
}

.flags .description {
	margin-bottom: 17px;
	font-size: 16px;
}




