@import "mixin";

.name {
  color: #62c462;
  font-size: 20px;
 	margin: 3px 3px 3px 0;
}

.center {
	margin-left:auto;
	margin-right:auto;
	width:70%;
}

#participation_note {
	width: 650px;
	height: 100px;
}

#flagsuccess, #flagsuccessform {

	background:  #f3edd2;
}

#hikingparticipants {
	background: #d9edf7;
}
#kit_content {
	width: 800px;
	height: 50px;
}

#commentform {
	background: #dff0d8;
	width: 700px;
	height: 60px;
}

.comment-textarea {
	width: 500px;
}


.timestamp {
  color: #62c462;
}

ul.display-inline-block li {

	display: inline-block;

}
#kit-delete, #comment-delete {
	float: right;
}

.flag-image {
	margin: 0 3px 3px 0;
}



