<footer class="footer">
  <small>
  </small>
  <nav>
    <ul>
			<li><%= link_to "이용약관", gettingstarted_consent1_path%></li>
			<li><%= link_to "개인정보보호정책", gettingstarted_consent2_path%></li>
      <li>문의 : info@mangomountain.kr</li>
    </ul>
  </nav>
</footer>